
 @import "tailwindcss";

:root {
  --background: #f8fafc; 
  --foreground: #0f172a;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Using a more modern font stack */
  font-family: var(--font-geist-sans), Inter, system-ui, sans-serif;
  min-height: 100vh;
}